

.call-to-action {
    background-color: #ebeff2;
    text-align: left;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100vw - 525px);
  }

  .call-to-action-content {
    flex: 1; /* Allow the content to grow and take up remaining space */
  }
  
  .call-to-action img {
    position: absolute; /* Position the image absolutely */
    top: 170px; /* Move the image up by adjusting the top value */
    right: 180px; /* Move the image to the right by adjusting the right value */
  }
  
  .call-to-action h1 {
    font-size: 80px;
    color: #333;
    word-wrap: break-word;
    max-width: 475px;
    margin-top: 0px;
    margin-left: 15px;
  }
  
  .call-to-action h4 {
    color: #858688;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  
  .learn-more-button {
    padding: 20px 50px;
    margin-left: 17px;
    margin-right: 50px;
    font-size: 24px;
    width: 350px;
    background-color: #5a8375;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Round the button edges */
  }
  
  .learn-more-button:hover {
    background-color: #004b38;
  }
  
  .resources-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .resources-section h1,
  .resources-section p,
  .resources-section h4,
  .resource-box h2 {
    color: #5a8375;
    margin-bottom: 0px;
  }
  
  .resource-boxes-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
  }
  
  .resource-box {
    /*width: 200px;*/
    height: 200px; /* Set a fixed height for the resource-box */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    border: 2px solid #5a8375;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 5px; /* Round the edges of the resource box */
    flex-wrap: wrap;
  }
  
  .resource-box h3 {
    margin: 0; /* Remove default margin to align on the same y-axis */
  }
  
  .resource-box-title {
    width: 100%; /* Full width */
    text-align: center; /* Center the text horizontally */
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px; /* Adjust margin as needed */
  }
  
  .section-button {
    padding: 20px 50px; /* Adjust padding as needed */
    font-size: 24px; /* Adjust font size as needed */
    background-color: #5a8375;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Round the button edges */
    width: 275px; /* Set a fixed width for the buttons */
    display: flex; /* Enable flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-right: 100px; /* Adjust the horizontal gap between buttons */
    text-decoration: none;
  }
  
  
  .section-button:last-child {
    margin-right: 0; /* Remove the right margin for the last button */
  }
  
  .section-button:hover {
    background-color: #004b38;
  }

  @media screen and (max-width: 768px) {
    .home-container {
      width: 200%;
      margin-bottom: 50px;
    }

    .call-to-action {
      width: 65%;
    }

    .call-to-action h1 {
      padding-right: 160px;
    }

    .call-to-action img {
      position: absolute;
      left: 400px;
      padding-top: 100px;
    }

    .resource-boxes-container {
      flex-direction: column;
      align-items: center;
    }
  
    .resource-box {
      width: 80%; /* Adjust width for better responsiveness */
      margin: 10px auto; /* Center boxes horizontally */
    }
  
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    .section-button {
      width: 80%;
      margin: 20px auto; /* Center buttons horizontally */
    }
}