.resources-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f8f9fa; /* Light gray background */
}

.resources-container {
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.resources-page-section {
  padding: 25px
}

.resources-title {
  text-align: center;
  margin-bottom: 20px;
}

.resources-subtitle {
  margin-bottom: 10px;
}

.resources-list {
  padding: 0 0 0 20px; /* Adjust padding for bullet points */
}

.resources-item {
  margin-bottom: 5px;
}

.resources-list a {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
}

.resources-list a:hover {
  text-decoration: underline;
}
