.header-container {
  background-color: white;
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: #5a8375; /* Changed text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  color: #5a8375; /* Changed text color */
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10px;
  cursor: pointer;
  color: #777;
  transition: none; /* Removed color transition */
  text-decoration: none; /* Removed underline */
}

li:hover {
  color: #5a8375; /* Hover color */
}

nav ul li svg {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 24px;
}

nav ul.header-tabs {
  position: absolute;
  vertical-align: middle;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  left: 250px;
}

nav ul.header-tabs li {
  margin-right: 25px;
}

.header-link {
  color: #5a8375; /* Default link color */
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

.header-link:hover {
  color: green; /* Hover color */
}

.user-email {
  color: black;
  font-weight: bold;
}

.header-button {
  background-color: transparent;
  color: #5a8375;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold;
}

.header-button:hover {
  color: green; /* Hover color */
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: stretch;
    width: 200%;
  }

  .nav-section {
    flex-direction: column;
    align-items: stretch;
  }

  .header-tabs {
    flex-direction: row;
  }

  .header-tabs li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .icons {
    margin-top: 10px;
  }

  .icons li {
    margin-right: 15px;
  }
}
