.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carouselItems {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(calc(-100% * var(--currentIndex)));
}

  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .slide.active {
    transform: translateX(0);
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .prevButton {
    left: 0;
  }
  
  .nextButton {
    right: 0;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ccc; /* Add border style */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
    height: 600px;
    margin: 0 10px;
  }
  
  .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .cardContent {
    padding: 10px;
  }
  
  .cardContent h3 {
    margin: 0;
  }
  
  .cardContent p {
    margin: 5px 0;
  }
  